ul#pie-label li {
    display:inline;
    margin: 1rem;
}

.chart li{
    margin-left: 2px;
    margin-right: 0.5rem
}

rect#label-gunshot{
 fill:rgba(151,187,205,1);
}

rect#label-other{
 fill:rgba(220,220,220,1);
}

rect#label-structbyvehicle{
 fill:rgba(247,70,74,1);
}

rect#label-deathincustody{
 fill:rgba(70,191,189,1);
}

rect#label-taser{
 fill:rgba(253,180,92,1);
}

.graph svg {
  height: 500px;
}

li{
    display: inline;
}
